langchain
ipykernel
python-dotenv
langchain-community
pypdf
pymupdf
bs4
arxiv
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain-ollama
langchain_chroma
streamlit
